#title{
    font-style: italic;
    text-align: center;
}
body{
    background-color: skyblue;
}
#scriptlogo{
    width: 80%;
    margin: auto;
    height: 40px;
}
.lan{
    color: red;
}
#top-page{
    background-color: grey;
    padding-top: 10px;
    border-radius: 5px;
}
